#header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: white;
}
#header-start-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
}
#menuBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
}
#button-menuBar {
  border-radius: 50%;
  outline: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
#logo {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-right: 15px;
  width: 100px;
  cursor: pointer;
}
#search {
  padding-left: 65px;
  display: flex;
  width: 820px;
}
input {
  font-size: 16px;
  width: 600px;
  height: 32px;
  border-radius: 3px;
}
#searchButton {
  margin-left: -3px;
  cursor: pointer;
  border-radius: 3px;
}
#voiceButton {
  margin-left: 8px;
  outline: 0;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
#makingVideo {
  padding-left: 6px;
  padding-right: 6px;
  width: 50px;
}
#makingVideoButton {
  outline: 0;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
}
#notice {
  padding-left: 6px;
  padding-right: 6px;
  width: 50px;
}
#noticeButton {
  outline: 0;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
#account {
  padding-left: 6px;
  padding-right: 6px;
  width: 50px;
}
#accountButton {
  height: 36px;
  outline: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
