#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  float: left;
  height: 597px;
  text-align: center;
  font-size: 8px;
  padding-top: 42px;
  position: fixed;
}
#menu1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 74.625px;
}
#menu2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 74.625px;
}
#menu3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 74.625px;
}
#menu4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 74.625px;
}
#menu5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 74.625px;
}
#menu6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 74.625px;
}
#menu7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 74.625px;
}
#menu8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 74.625px;
}
