#videos {
  display: flex;
  align-items: center;
  text-align: center;

  flex-wrap: wrap;
  padding-top: 50px;
  padding-left: 77.984px;
  background-color: rgb(242, 242, 242);
  background-clip: content-box;
}

#thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(212, 210, 210);
  width: 280px;
  height: 150px;
}
#video-content {
  width: 280px;
  height: 50px;
}
#video {
  display: flex;
  align-items: center;

  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 4px;
  margin-right: 4px;
}
